:root {
    --base: #1E8449;
    --hover: #306C89;
    --navbar: #68C978; 
    --background: #212823;
    --text: white;
    --border: black;
    --proj-height: 55px;
    --proj-width: 35%;
    --proj-border: 6px solid black;
    --laptop-width: 35px;
    --laptop-height: 54px;
    --laptop-border: 6px solid black;
}

/* Header base */
header {
    background-color: var(--base);
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

/* "Cadence Higgins" on header */
  header h1 {
    display: inline-block;
    padding: 20px 30px 20px 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--navbar);
    margin-left: -10px;
    font-size: 40px;
    color: var(--text);
    
  }

/* navbar positioning*/
  nav {
    float: right;
    margin-top: 35px; 
  }

/* navbar list positioning and decoration */
nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 65px;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}

/* navbar button colors */
nav ul li a {
    color:white;
}

/* navbar hover actions */
nav ul li a:hover {
    cursor: grab;
    color: var(--hover)
}

/* webpage background */
body {
  background-color: var(--background);
}

/* left sidebar positioning and border*/
aside {
  width: 23%;
  float: left;
  border-right: 4px solid var(--base);
  display: flex;
  flex-direction: column;
  align-items: end;
  
}

/* left sidebar text decor */
aside p {
  font-size: 40px;
  color: var(--text)
}

/* sidebar spacing about section */
.aside-about {
  margin: 140px 30px 0 0;
}

/* sidebar spacing project section */
.aside-project {
  margin: 500px 30px 0 0;
}

/* sidebar spacing contact section */
.aside-contact {
  margin: 650px 30px 50px 0;
}

/* main css for all sections on right */
.main {
  width: 77%;
  float: right;
  margin: 0px -10px 0 -10px;
  color: var(--text)
}

/* about me section */
#about-me {
  height: 25%;
}

/* header align in about me */
section h2 {
  text-align: center;
}

/* image alignment in about me */
.selfie {
  float: left;
  margin: 35px 0px 20px 35px;
  border-radius: 10%;
}

/* paragraph alignment and size in about me */
.paragraph {
  margin-left: 13%;
  float: left;
  width: 50%;
  text-align: center;
  font-size: 22px;
}

/* projects section box*/
#projects {
  border-top: 4px solid var(--base);
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  
 }
 
 .project-1 {
   padding: 50px;
   width: 80%;
   height: 30%;
   border: var(--proj-border);
   background-color: green;
   margin: 30px 80px -50px 85px;
 }
 
 .project-2 {
   padding: 50px;
   width: var(--proj-width);
   height: var(--proj-height);
   border: var(--proj-border);
   background-color: red;
   margin: 10px 0px -50px 85px;
 }
 
 .project-3 {
   padding: 50px;
   width: var(--proj-width);
   height: var(--proj-height);
   border: var(--proj-border);
   background-color: blue;
   margin: 10px 95px -50px 30px;
 }
 
 .project-4 {
   padding: 50px;
   width: var(--proj-width);
   height: var(--proj-height);
   border: var(--proj-border);
   background-color: yellow;
   margin: 0px 0px -10px 85px;
 }
 
 .project-5 {
   padding: 50px;
   width: var(--proj-width);
   height: var(--proj-height);
   border: var(--proj-border);
   background-color: purple;
   margin: 0px 95px -10px 30px;
 }

/* contact sectiion */
#contact {
  border-top: 4px solid var(--base);
  height: 10vh;
}

.contact-list {
  margin-top: 100px;
}

.contact-list-items {
  list-style-type: none;
  display: inline;
  margin-left: 180px;
  font-size: 30px;
  text-decoration: underline;
}

.github {
  color: white;
  text-decoration: none;
}

.github:hover {
  color: var(--hover);
  cursor: grab;
}
/* footer */
 .footer {
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  background-color: var(--base);
  margin: 0 -10px -10px -10px;
 }
 
 footer div {
  display: inline-block;
 }

 /* alignment of "back to top" element */
 footer a {
  float: right;
  margin: 40px 30px 0 0;
  font-size: 20px;
 }

 /* media queries */
 /* Laptop sizes */
 @media screen  and (min-width: 1117px) 
 and (max-width: 1900px)
   {
    /*side column  */
  aside {
   width: 15%;
  }

/* right side content */
  .main {
    width: 85%;
    float: right;
    margin: 0px -10px 0 -10px;
    color: var(--text)
  }

/* about me section */
  .selfie {
    float: left;
    margin: 35px 0px 20px 35px;
    border-radius: 10%;
  }
  .paragraph {
    margin-left: 9%;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 19px;
  }

  /* projects section */
  #projects {
    border-top: 4px solid var(--base);
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
   }
   
   .project-1 {
     padding: 50px;
     width: 80%;
     height: 30%;
     border: var(--proj-border);
     background-color: green;
     margin: 30px 80px -50px 85px;
   }
   
   .project-2 {
     padding: 50px;
     width: 27%;
     height: 45px;
     border: var(--proj-border);
     background-color: red;
     margin: 10px 0px -50px 85px;
   }
   
   .project-3 {
     padding: 50px;
     width: 27%;
     height: 45px;
     border: var(--proj-border);
     background-color: blue;
     margin: 10px 80px -50px 30px;
   }
   
   .project-4 {
     padding: 50px;
     width: 27%;
     height: 45px;
     border: var(--proj-border);
     background-color: yellow;
     margin: 0px 0px -10px 85px;
   }
   
   .project-5 {
     padding: 50px;
     width: 27%;
     height: 45px;
     border: var(--proj-border);
     background-color: purple;
     margin: 0px 80px -10px 30px;
   }

   /* contact list */
   .contact-list {
    margin-top: 190px;
  }
  
  .contact-list-items {
    list-style-type: none;
    display: inline;
    margin-left: 100px;
    font-size: 30px;
    text-decoration: underline;
  }
 }

